<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.gkortsaridis.gatekeeper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GateKeeperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.Vaults.CreateVaultActivity"></activity>
        <activity android:name=".UI.Logins.ApplicationSelector" />
        <activity android:name=".UI.Vaults.SelectVaultActivity" />
        <activity android:name=".UI.Authentication.CreatePasswordActivity" />
        <activity android:name=".UI.Authentication.SignUpActivity" />
        <activity android:name=".UI.Logins.CreateLoginActivity" />
        <activity android:name=".UI.Authentication.LoadingActivity" />
        <activity android:name=".UI.Authentication.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.MainActivity" />

        <service
            android:name=".GateKeeperAutoFillServiceL"
            android:label="GateKeeper Autofill Service"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>

            <meta-data
                android:name="android.autofill"
                android:resource="@xml/gatekeeper_credentials_filler" />
        </service>
    </application>

</manifest>